.navbar-brand img {
    height: 5rem;


}

.nav a {
    color: white !important;
    font-size: 1.8em !important;
}

nav img {
    cursor: pointer;
}

#intro {
    background-image: url(/micaela-parente-YGgKE6aHaUw-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
}

.home h1 {
    color: rgb(156, 36, 36);
    font-size: 4em;
    font-weight: bold;
}

.home p {
    font-style: italic;
    font-size: 1.75em;
    color: rgb(197, 190, 190);
    background-color: rgba(0, 0, 0, 0.782);
    line-height: 1.20;
}

.home .btn1 {
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: ridge;
    display: inline-block;
    border-radius: 10%;

    gap: 5%;
}

.home .btn2 {
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: ridge;
    display: inline-block;
    border-radius: 10%;
}

.info {
    font-size: x-large;
    color: rgb(42, 42, 42);
}

.card .info {
    color: rgb(105, 105, 105);
}

.card {
    cursor: pointer;
}

.contact p {
    font-weight: bold;
}

.contact h1 {
    font-weight: bold;
}

.btn-block {
    background-color: rgb(156, 36, 36);
    color: white;
    line-height: 2;
    font-weight: bold;
    font-size: large;

}
.btn-block:hover{

}

.laattaBody p {
    padding-right: 5%;
    padding-left: 5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.laattaBody .otsikko {
    font-weight: bold;


}

.overlay {
    position: absolute;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.354);
}

.kortti {
    display: block;
    height: 100%;

}

.kortti>.otsikko {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.kortti:hover .overlay {
    opacity: 1;
}

.button {
    box-shadow: rgba(255, 255, 255,0 ) 0px 24px 20px, rgba(255, 255, 255, 0.0) 0px -12px 5px, rgba(255, 255, 255, 00.0) 0px 4px 6px, rgba(255, 255, 255, 0.0) 0px 12px 13px, rgba(255, 255, 255, 0.0) 0px -3px 5px;
    background-color: rgb(255, 255, 255);
    /* Green */
    border: none !important;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    ;
    border-radius: 5% 5%;

}

button:hover {
    transform: translateY(-0.25em);
}

backlight {
    box-shadow: beige;
}

.dd {
    vertical-align: bottom;
}

#mask {
    position: absolute;
    top: 0;
    bottom: 10;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 247, 0);
}



.mauto {
    margin-left: auto !important;
    margin-right: auto;
}

.mcenter {
    margin-left: auto;
    margin-right: auto;

}

.collg8 {

    padding: 5%;
    margin: 5%;
    box-sizing: border-box;
}

#kuvake {
    border-radius: 2.5%;
}


.pr5 {
    padding: 5%;

}

.pl5 {
    padding-left: 5%;
}

.fontW {
    font-weight: bold;
    font-size: 150%;
}

.testbox {
    background-color: rgb(255, 242, 0);
    border-style: solid;

}

.footer {
    
    background-color: #20252b;
    width: 100%;
    color: white;
    text-align: center;
}

.footer .img {

    height: 20px;

}
.footer .otsikko{
    font-size: 2em;
    font-weight: bold;
}
.footer .row{
    border-bottom: solid;
   
}

.logo {
    height: 10em;
    width: 20em;
}

.letter {
    
    font-size: larger;

}

.linkit {
    align-self: center;
   margin-left: auto;
}

.linkit .linkki {
    list-style-type: none;
    text-align: right;

}

#musta {
    color: black;
    font-size: x-large;
    text-decoration: none;


}

a:hover {
    color: rgb(156, 36, 36)!important;
    ;
    font-weight: bold;
    border-bottom: 5px solid rgb(0, 0, 0);
}

#musta:hover {
    color: rgb(156, 36, 36);
    font-weight: bold;
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 0 0 5px;
}

.bgimg {
    background-image: url(/sabre-gd7f68abfb_1920.png);

}

#tausta {
    background-color: rgb(26, 26, 26);

}

.history .otsikko {
    font-weight: 300;
    text-align: left;
    margin-bottom: 2%;
    font-weight: 400;
    font-size: 3 em;
}

#subotsikko {

    box-shadow: -5px 5px rgb(156, 36, 36);
}

.content img {
    border-radius: 5%;
    
}

.top .home {
    color: rgb(156, 36, 36);
    font-size: 3em;
    font-weight: bold;
}

.history .home {
    color: rgb(156, 36, 36);
    font-size: 3em;
    font-weight: bold;
}

.tip {
    box-shadow: 10px -10px rgb(156, 36, 36), 10px 10px rgb(156, 36, 36), -10px -10px rgb(156, 36, 36), -10px 10px rgb(156, 36, 36);
    background-color: rgba(59, 59, 59, 0.541) !important;
}
.tip p{
    font-style:oblique ;
    font-size: large;
}
.tip h5{
    font-weight: bold;
}

.tip #johde {
    cursor: pointer;
    text-align: right;
    color: rgba(79, 0, 0, 0.654);
}
.pohja{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 5%;
    box-shadow: none !important;
}
#contacts{
    color: rgb(156, 36, 36);
    font-weight: bold;
    border-bottom: 5px solid rgb(0, 0, 0);
    padding: 0 0 5px;
}
.contact  p{
    font-size: larger;
}
.contact small{
    font-size: large;
    font-family: sans-serif;
}